* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: ;
}

.text-primary {
    color: #FD6E0A;
}

.btn-background {
    background: #FD6E0A;
}

.btn-color {
    background: #FD6E0A;
}

.btn-primary {
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 0 15px;
}

/* header and navbar */

.header {
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav {
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding-right: 50px;
}

.contact {
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 10px;
}

/* Banner area */

.banner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 0 200px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    margin-bottom: 10px;
    color: #181818;
    font-weight: 700;
    font-size: 85px;
}

.banner-description {
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}

.profile-img {
    margin-right: -80px;
}

/* main area */

main {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* about section */

.about {
    padding: 130px 155px;
    margin: 130px 0;
    background: #FFF8F3;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 70px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-header {
    font-size: 20px;
    color: #757575;
}

.about-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do */

.what-i-do {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 155px;
}

/* what i do skill */

.skill-container {
    display: flex;
    justify-content: space-between;
}

.skill {
    margin: 15px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 1px 0 gray;
}

.what-i-do-title {
    font-weight: 700;
    font-size: 15px;
    color: #181818;
    margin: 30px 0;
    text-align: left;
}

.what-i-do-description {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    text-align: left;
}

.skill-container .skill img {
    margin: 18px 0;
    display: block;
}

/* summary section */

.summary {
    margin: 15px;
    padding: 50px 155px;
    background-color: #FFFFFF;
}

.summary-container {
    display: flex;
    gap: 50px;
}

.summary-heading {
    font-weight: 700;
    font-size: 30px;
    color: #474747;
    text-align: left;
    margin-bottom: 10px;
}

.summary-title {
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
}

.summary-sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    text-align: left;
    margin-bottom: 10px;
}

.summary-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 10px;
    text-align: left;
}

hr {
    margin: 50px 0;
}

.download-cv-button {
    margin: 50px 0;
}

/* footer section */

footer {
    background: #FFF8F3;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 130px 200px;
}

.footer-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    margin-bottom: 18px;
}

.footer-description {
    font-size: 14px;
    color: #474747;
    margin-bottom: 20px;
}

input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    padding-bottom: 30px;
}

/* Media Query for Responsive */

@media screen and (max-width: 576px) {
    .header {
        background-image:none;
        padding: 0;
    }

    nav {
        padding: 0 0;
        flex-direction: column;
    }

    .nav-title {
        margin: 20px 15px;
    }
    
    nav ul {
        margin: 20px 10px;
    }

    .contact {
        margin-left: 0;
    }

    .banner {
        flex-direction: column;
        gap: 50px;
        align-items: center;
        padding: 15px 20px;
    }

    .profile-img {
        margin-right: 0;
    }

    .about {
        padding: 0;
        margin: 50px 0;
    }

    .about-info {
        flex-direction: column;
    }

    .about-info > div {
        margin-bottom: 20px;
    }

    .what-i-do {
        margin: -20px auto;
        padding: 0 10px;
    }

    .skill-container {
        flex-direction: column;
    }

    .section-title {
        margin: 30px 0;
    }

    .summary {
        padding: 0;
    }

    .summary-container {
        flex-direction: column;
        gap: 0;
    }

    .footer-container {
        flex-direction: column;
        padding: 10px;
    }

    input, textarea {
        width: 95%;
    }
}